<header>
  <img src="/assets/img/hero/header/logo_blue.png" alt="" />
  <div class="about-me">
    <a href="#aboutMe">ABOUT ME</a>
    <div class="reveal-container"><img src="assets/img/underlines/B.1 1.svg" alt="" class="reveal-image"></div>
  </div>
  <div><a href="#skills">SKILLS</a></div>
  <div><a href="#projects">PROJECTS</a></div>
  <div><a href="#contact">CONTACT</a></div>
  <div class="languageSwitch">
    <p>DE</p>
    <div></div>
    <!-- german / english switch -->
    <p>EN</p>
  </div>
</header>
