<section>
  <app-header></app-header>
  <div id="goBack">
    <img [routerLink]="['/']"
      src="/assets/img/my-projects/elements/left-arrow.png"
      alt="image of an arrow"
    />
    <p [routerLink]="['/']">{{'pokedex.back' | translate }}</p>
  </div>
  <app-project-template
  [projectTitle]="'PokèDex'"
    [projectDescription]="'Beschreibung'"
    [projectDescription]="'pokedex.description' | translate "
    [projectDescriptionText]="'pokedex.description-text' | translate "
    [projectDetails]="'pokedex.details' | translate "
    [projectDetailsText]="'pokedex.details-text' | translate "
    [projectDuration]="'pokedex.duration' | translate "
    [projectDurationInfo]="'pokedex.duration-text' | translate "
    [projectExampleImg]="'/assets/img/my-projects/backround/Property 1=Join.png'"
    [projectGitHubBtn]="'https://google.de'"
    [technologies]="[
      { imgPath: '/assets/img/skills/icons/Property 1=HTML.png', name: 'HTML' },
      { imgPath: '/assets/img/skills/icons/Property 1=CSS.png', name: 'CSS' },
      { imgPath: '/assets/img/skills/icons/Property 1=Js.png', name: 'JavaScript' }
  ]"
  >
  </app-project-template>
  <div id="goNext">
    <p [routerLink]="['/join']">{{'join.next' | translate }}</p>
    <img [routerLink]="['/join']"
      src="/assets/img/my-projects/elements/right-arrow.png"
      alt="image of an arrow"
    />
  </div>
</section>