<section>
  <app-header></app-header>
  <div id="goBack">
    <img [routerLink]="['/']"
      src="/assets/img/my-projects/elements/left-arrow.png"
      alt="image of an arrow"
    />
    <p [routerLink]="['/']">Zurück</p>
  </div>
  <app-project-template
  [projectTitle]="'PokèDex'"
    [projectDescription]="'Beschreibung'"
    [projectDescriptionText]="'Dieser Pokédex ist eine benutzerfreundliche Webanwendung zur Durchsuchung und Anzeige von Pokémon. Nutzer können gezielt nach Namen suchen und erhalten eine übersichtliche Detailansicht mit relevanten Informationen. Die gesamte Anwendung ist auf Deutsch gestaltet.'"
    [projectDetails]="'Umsetzungsdetails'"
    [projectDetailsText]="'Der Pokédex wurde mit HTML, CSS und JavaScript entwickelt. Die Daten werden dynamisch über die PokeAPI geladen. Eine Overlay-Ansicht zeigt detaillierte Informationen zu jedem Pokémon, inklusive Navigation. Die Suchfunktion greift ab drei Buchstaben auf bis zu 493 Pokémon zu. Das Projekt entstand im Rahmen meiner Ausbildung zum Frontend-Entwickler und zeigt meine Fähigkeiten im Umgang mit APIs, DOM-Manipulation und UI-Design.'"
    [projectDuration]="'Dauer:'"
    [projectDurationInfo]="'5 Wochen'"
    [projectExampleImg]="'/assets/img/my-projects/backround/Property 1=Join.png'"
    [projectGitHubBtn]="'https://google.de'"
    [technologies]="[
      { imgPath: '/assets/img/skills/icons/Property 1=HTML.png', name: 'HTML' },
      { imgPath: '/assets/img/skills/icons/Property 1=CSS.png', name: 'CSS' },
      { imgPath: '/assets/img/skills/icons/Property 1=Js.png', name: 'JavaScript' }
  ]"
  >
  </app-project-template>
  <div id="goNext">
    <p>nächstes Projekt</p>
    <img
      src="/assets/img/my-projects/elements/right-arrow.png"
      alt="image of an arrow"
    />
  </div>
</section>