@import "./../../styles.scss";
@import "./../animations.scss";

section {
  height: 700px;
  @include flexCenterAll;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
  }
  > .about-me {
    > div {
      > h2 {
        font-size: 54px;
      }
      >img{
        height: auto;
        width: 300px;
      }
    }
  }
}

.drawing-line {
  position: relative;
  mask: linear-gradient(to right, black 50%, transparent 50%);
  mask-size: 200% 100%;
  animation: drawAnimation 6s infinite;
}

.lets-talk-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  > button {
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 40px;
    width: 140px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    &:hover{
      cursor: pointer;
    }
  }
}

.animate-dont-push{
  animation: dontPushButtonAnymore 0.1s ease forwards;
}

.animate-push{
  animation: pushButton 0.1s ease forwards;
}

.ripped-paper-skills {
  @include flexCenterAll;
  flex-direction: column;
  > img {
    width: 550px;
  }
  > .yellow-paper {
    z-index: 1;
    top: 50px;
    rotate: -5deg;
  }

  > .orange-paper {
    z-index: -1;
    bottom: 40px;
    rotate: 2deg;
  }
}
