<section id="aboutMe">
  <div class="ripped-paper-skills">
    <div class="yellow-paper">
      <img src="/assets/img/about-me/elements/Yellow.png" alt="" />
      <div class="yellow-paper-content">
        <img src="/assets/img/about-me/icons/Group 58.png" alt="" />
        <p>Ich Komme aus Altenkirchen (Westerwald)</p>
      </div>
    </div>
    <div class="blue-paper">
      <img src="/assets/img/about-me/elements/2 Blue.png" alt="" />
      <div class="blue-paper-content">
        <img
          src="/assets/img/about-me/icons/Property 1=State Relocation.png"
          alt=""
        />
        <p>
          Ich Arbeite gerne vor Ort <br />
          mit dem TEAM
        </p>
      </div>
    </div>
    <div class="orange-paper">
      <img src="/assets/img/about-me/elements/3 Orange.png" alt="" />
      <div class="orange-paper-content">
        <img src="/assets/img/about-me/icons/Status Remote.png" alt="" />
        <p>Ebenso bin ich bereit Remote zu arbeiten</p>
      </div>
    </div>
  </div>
  <div class="about-me">
    <p>WER IST JOSHUA?</p>
    <div>
      <h2>Über mich</h2>
      <img
        class="drawing-line"
        src="/assets/img/about-me/underlines/8542ffc9296fd0ecc62b7bb7886c355ebe841e45.png"
        alt=""
      />
    </div>
    <p>
      Hi! Ich bin Josh, 24 Jahre alt, und habe meine Leidenschaft im
      Programmieren gefunden. Es macht mir unglaublich viel Spaß zu sehen, wie
      aus einer Idee Schritt für Schritt Realität wird: Zuerst entsteht das
      Konzept, dann folgen viele Zeilen Code – mitsamt Herausforderungen, die
      ich mit voller Motivation angehe. Besonders im Frontend-Bereich fasziniert
      mich, dass ich direkt sehe, was mein Code bewirkt, und den gesamten
      Entstehungsprozess miterleben kann. Die Vielfalt der Programmiersprachen
      begeistert mich, und ich liebe es, ständig dazuzulernen. <br />
      HTML, CSS/SCSS, JavaScript/TypeScript und Angular bilden mein Fundament.
      Doch auch Sprachen wie Java und Python interessieren mich sehr – ich bin
      jederzeit bereit, sie in meinen Wissensstand aufzunehmen und künftig damit
      zu arbeiten.

      <br />
      <br />
      Ich bin bereit für die Herausforderung, Außergewöhnliches zu schaffen –
      und zu erschaffen.
    </p>

    <!-- <p>
      Hey, ich bin Josh – 24 Jahre alt und absolut begeistert vom Programmieren.
      Für mich gibt’s kaum etwas Cooleres, als mit einer Idee zu starten, sie Zeile für Zeile in Code zu 
      verwandeln und am Ende zu sehen, wie alles zum Leben erwacht. 
      Besonders der Frontend-Bereich hat’s mir angetan: Hier sehe ich direkt, was ich gebaut habe – 
      und kann miterleben, wie Schritt für Schritt etwas Großes entsteht.
      Aktuell arbeite ich mit HTML, CSS/SCSS, JavaScript, TypeScript und Angular, 
      aber ich bin neugierig und ständig dabei, meinen Horizont zu erweitern. Java und 
      Python stehen schon auf meiner Lernliste – ich hab richtig Lust, auch in diesen Bereichen durchzustarten.
      <br />
      <br />
      Ich bin bereit, anzupacken, Probleme kreativ zu lösen und gemeinsam im Team richtig gute Sachen auf die Beine zu stellen. Mein Ziel? Nicht einfach nur mitarbeiten, sondern etwas schaffen, das Eindruck hinterlässt.
    </p> -->
    <p></p>
    <div class="lets-talk-section">
      <button
        #button
        (mouseenter)="onMouseEnterBtn(button)"
        (mouseleave)="onMouseLeaveBtn(button)"
      >
        quatschen?
      </button>
    </div>
  </div>
</section>
