@import "./../../styles.scss";
@import "./../animations.scss";

section {
  height: 700px;
  padding: 0 20px;
  @include flexCenterAll;
  gap: 50px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
  }
  > .about-me {
    > div {
      > h2 {
        font-size: 54px;
      }
    }
  }
}

.drawing-line {
  height: auto;
  width: 300px;
  position: relative;
  mask: linear-gradient(to right, black 50%, transparent 50%);
  mask-size: 200% 100%;
  animation: drawAnimation 6s infinite;
}

.lets-talk-section {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  > button {
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 40px;
    width: 140px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    z-index: 1;
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}

.animate-dont-push {
  animation: dontPushButtonAnymore 0.1s ease forwards;
}

.animate-push {
  animation: pushButton 0.1s ease forwards;
}

.ripped-paper-skills {
  @include flexCenterAll;
  flex-direction: column;
  > div {
    @include flexCenterAll;
    flex-direction: column;
    > div {
      @include flexCenterAll;
      top: -110px;
      gap: 10px;
      color: white;
      font-size: 22px;
      > p {
        font-family: "secondaryFont";
      }
    }
    > img {
      width: 550px;
    }
  }
  > .yellow-paper {
    z-index: 1;
    top: 90px;
    rotate: -5deg;
  }

  > .orange-paper {
    z-index: -1;
    bottom: 110px;
    rotate: 2deg;
    > div {
      rotate: 2deg;
    }
  }
}

@media (max-width: 1000px) {
  section {
    flex-direction: column-reverse;
    height: auto;
    gap: 0;
    > div {
      width: 100%;
    }
  }
}

@media (max-width: 580px) {
  section {
    height: auto;
  }
  .ripped-paper-skills {
    height: 400px;
    > div {
      > img {
        height: 150px;
        width: 400px;
      }
      > div {
        top: -100px;
      }

      > .yellow-paper-content {
        width: 300px;
        top: -120px;
      }
      > .orange-paper-content {
        width: 300px;
        top: -120px;
      }
    }
    > .yellow-paper {
      top: 120px;
    }
  }
}

@media (max-width: 440px) {
  section {
    height: auto;
  }
  .ripped-paper-skills {
    height: 400px;
    > div {
      > img {
        height: 150px;
        width: 280px;
      }
      > div {
        width: 240px;
        font-size: 16px;
        top: -100px;
      }

      > .yellow-paper-content {
        width: 200px;
        top: -120px;
      }
      > .orange-paper-content {
        width: 200px;
        top: -100px;
      }
    }
    > .yellow-paper {
      top: 120px;
    }
  }
  .drawing-line {
    width: 260px;
  }
}
