<section id="aboutMe">
  <div class="ripped-paper-skills">
    <div class="yellow-paper">
      <img src="/assets/img/about-me/elements/Yellow.png" alt="" />
      <div class="yellow-paper-content">
        <img src="/assets/img/about-me/icons/Group 58.png" alt="" />
        <p>{{ 'about-me.from' | translate }}</p>
      </div>
    </div>
    <div class="blue-paper">
      <img src="/assets/img/about-me/elements/2 Blue.png" alt="" />
      <div class="blue-paper-content">
        <img
          src="/assets/img/about-me/icons/Property 1=State Relocation.png"
          alt=""
        />
        <p [innerHTML]="'about-me.travel' | translate"></p>
      </div>
    </div>
    <div class="orange-paper">
      <img src="/assets/img/about-me/elements/3 Orange.png" alt="" />
      <div class="orange-paper-content">
        <img src="/assets/img/about-me/icons/Status Remote.png" alt="" />
        <p>{{ 'about-me.remote' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="about-me">
    <p>{{ 'about-me.who' | translate }}</p>
    <div>
      <h2>{{ 'about-me.title' | translate }}</h2>
      <img
        class="drawing-line"
        src="/assets/img/about-me/underlines/8542ffc9296fd0ecc62b7bb7886c355ebe841e45.png"
        alt=""
      />
    </div>
    <p [innerHTML]="'about-me.text' | translate">

    </p>

    <!-- <p>
      Hey, ich bin Josh – 24 Jahre alt und absolut begeistert vom Programmieren.
      Für mich gibt’s kaum etwas Cooleres, als mit einer Idee zu starten, sie Zeile für Zeile in Code zu 
      verwandeln und am Ende zu sehen, wie alles zum Leben erwacht. 
      Besonders der Frontend-Bereich hat’s mir angetan: Hier sehe ich direkt, was ich gebaut habe – 
      und kann miterleben, wie Schritt für Schritt etwas Großes entsteht.
      Aktuell arbeite ich mit HTML, CSS/SCSS, JavaScript, TypeScript und Angular, 
      aber ich bin neugierig und ständig dabei, meinen Horizont zu erweitern. Java und 
      Python stehen schon auf meiner Lernliste – ich hab richtig Lust, auch in diesen Bereichen durchzustarten.
      <br />
      <br />
      Ich bin bereit, anzupacken, Probleme kreativ zu lösen und gemeinsam im Team richtig gute Sachen auf die Beine zu stellen. Mein Ziel? Nicht einfach nur mitarbeiten, sondern etwas schaffen, das Eindruck hinterlässt.
    </p> -->
    <p></p>
    <div class="lets-talk-section">
      <button
        #button
        (click)="scrollToContact()"
        (mouseenter)="onMouseEnterBtn(button)"
        (mouseleave)="onMouseLeaveBtn(button)"
      >
        {{ 'about-me.button' | translate }}
      </button>
    </div>
  </div>
</section>
