<section id="aboutMe">
  <div class="ripped-paper-skills">
    <img
      class="yellow-paper"
      src="/assets/img/about-me/elements/Yellow.png"
      alt=""
    />
    <img
      class="blue-paper"
      src="/assets/img/about-me/elements/2 Blue.png"
      alt=""
    />
    <img
      class="orange-paper"
      src="/assets/img/about-me/elements/3 Orange.png"
      alt=""
    />
  </div>
  <div class="about-me">
    <p>WER IST JOSHUA?</p>
    <div>
      <h2>Über mich</h2>
      <img class="drawing-line" src="/assets/img/about-me/underlines/8542ffc9296fd0ecc62b7bb7886c355ebe841e45.png" alt="" />
    </div>
    <p>
      Ich habe im Programmieren meine Leidenschaft gefunden, weil ich damit
      kreativ arbeiten und gleichzeitig Probleme lösen kann. Besonders im
      Frontend gefällt mir die Kombination aus Design und Logik. Jede neue
      Aufgabe ist für mich eine Chance, dazuzulernen und bessere Lösungen zu
      finden. Fehler gehören für mich zum Prozess – daraus lerne ich am meisten.
      Mich motiviert es, zu sehen, wie aus einer Idee etwas Funktionierendes
      entsteht.
      <br>
      <br>
      Ich bin bereit etwas Außergewöhnliches zu erschaffen!
    </p>
    <p></p>
    <div class="lets-talk-section"><button>quatschen?</button></div>
  </div>
</section>
