@import "./../../../styles.scss";
@import "./../../animations.scss";

.project-card {
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
  > .project-image {
    height: 400px;
    width: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    transition: ease-in-out 0.2s;
    > .project-overlay {
      display: flex;
      justify-content: end;
      align-items: end;
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.493)
      );
      border-radius: 25px;
      opacity: 0;
      padding: 50px;
      > button {
        color: white;
        font-size: 16px;
        height: 40px;
        width: 140px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 25px;
        box-shadow: 2px 2px 1px 1px white;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &:hover {
      cursor: pointer;
      animation: zoomBackroundImage 0.3s forwards alternate;
      > .project-overlay {
        opacity: 1;
      }
    }
  }
  > .project-title {
    width: 100%;
    padding: 0 50px;
    margin: 20px 0;
    > h3 {
      font-weight: bold;
      font-size: 24px;
    }
  }
  > .project-description {
    width: 100%;
    padding: 0 50px;
  }
}

@media (max-width: 720px) {
  .project-card {
    width: 100%;
    > .project-image {
      width: 500px;
      height: 300px;
    }
  }
}

@media (max-width: 600px) {
  .project-card {
    > .project-image {
      width: 400px;
      height: 250px;
    }
  }
}

@media (max-width: 420px) {
  .project-card {
    width: 100%;
    > .project-image {
      width: 300px;
      height: 200px;
    }
    > .project-description {
      padding: 0 25px;
    }
  }
}
