.project-card {
  height: 700px;
  width: 700px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .project-image {
    height: 400px;
    width: 550px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
  }
  > .project-title {
    width: 100%;
    padding: 0 30px;
    > h3 {
      font-size: 24px;
    }
  }
  > .project-description {
    width: 100%;
    padding: 0 30px;
  }
}
