@import "./../../styles.scss";
@import "./../animations.scss";

app-header {
  width: 100%;
  z-index: 21;
  padding: 0 25px;
}

#hero {
  height: 900px;
  background-image: url(/assets/img/hero/backround/ripped-paper.png);
  background-position: center bottom;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  > .hero-title-content {
    @include flexCenterAll;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 0 25px;
    > div {
      width: 900px;
    }
    #helloWorld {
      height: 50px;

      .helloImage {
        top: -80px;
        left: 80px;
        transition: all 0.3s ease;
      }
      .helloWorldText {
        @include flexCenterAll;
        height: 40px;
        width: 140px;
        border: 1px solid white;
        border-radius: 25px;

        #myNameIs {
          position: absolute;
        }
      }
    }

    #getInTouch {
      text-align: end;
      > button {
        color: white;
        font-size: 16px;
        height: 40px;
        width: 140px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 25px;
        box-shadow: 2px 2px 1px 1px white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#developer {
  text-align: end;
  font-size: 140px;
  font-weight: bold;
}

.animate-dont-push {
  animation: dontPushButtonAnymore 0.1s ease forwards;
}

.animate-push {
  animation: pushButton 0.1s ease forwards;
}

.hero-links-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  > div {
    width: 57.67px;
  }
}

.contact-links {
  bottom: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  > div {
    @include flexCenterAll;
    height: 40px;
    width: 40px;
    border: solid 1px white;
    border-radius: 100%;
    transition: 0.5s ease;
    &:hover {
      background-color: $portfolioBlue;
    }
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.photoCard-mobile {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: -130px;
  color: black;
  display: none;
  rotate: 10deg;
  > img {
    height: 240px;
    width: auto;
  }
  > p {
    top: -45px;
    left: 10px;
    width: 80px;
    font-weight: bold;
    z-index: 1;
    font-family: "secondaryFont";
    font-size: 20px;
    cursor: default;
  }
}

#frontEndImageContainer {
  display: flex;
  justify-content: space-between;
  > p {
    font-size: 140px;
    font-weight: bold;
  }
}
#photoCard {
  rotate: 10deg;
  height: 240px;
  width: 200px;
  position: absolute;
  top: -80px;
  right: 25px;
  background-color: white;
  color: black;
  > img {
    height: 240px;
    width: auto;
    filter: grayscale(1);

    &:hover {
      animation: 0.3s photoLightning ease forwards;
    }
  }
  > p {
    top: -45px;
    left: 75px;
    width: 80px;
    z-index: 1;
    font-family: "secondaryFont";
    font-size: 20px;
    cursor: default;
  }
}

.animated-text {
  font-size: 140px;
  font-weight: bold;
  transition: all 0.1s ease;
  cursor: default;
  > div {
    display: inline-block;
    transition: all 0.1s ease;
  }
  > div.upper:hover {
    color: $portfolioYellow;
    text-transform: lowercase;
  }

  > div.lower:hover {
    color: $portfolioYellow;
    text-transform: uppercase;
  }
}

.animate-in {
  animation: slideOut 0.5s ease forwards;
  cursor: default;
  ~ .helloImage {
    opacity: 1;
    animation: rotateIn 1s ease forwards;
  }
  > p {
    transition: 0.3s;
    opacity: 0;
    transition-delay: 0.15s;
  }
  #myNameIs {
    opacity: 1;
    transition-delay: 0.15s;
  }
}

.animate-out {
  animation: slideIn 0.5s ease forwards;

  ~ .helloImage {
    animation: rotateOut 0.8s ease forwards;
  }
}

.fade {
  ~ .helloImage {
    opacity: 0;
  }
  #myNameIs {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  // burger menu
}

@media (max-width: 950px) {
  #hero {
    .hero-title-content {
      > div {
        width: 700px;
      }
    }
  }
  #frontEndImageContainer {
    > div {
      font-size: 100px;
      font-weight: bold;
    }
    > #photoCard {
      top: -120px;
      > p {
        top: -65px;
      }
    }
  }
  #developer {
    > div {
      font-size: 100px;
    }
  }
}

@media (max-width: 720px) {
  #hero {
    align-items: center;
    .hero-title-content {
      > div {
        width: 100%;
      }
    }
  }

  #frontEndImageContainer {
    justify-content: center;
  }
  #developer {
    text-align: center;
  }

  #photoCard {
    display: none;
  }
  .photoCard-mobile {
    display: flex;
  }

  .contact-links {
    display: none;
  }
}

@media (max-width: 610px) {
  #developer {
    > div {
      font-size: 70px;
    }
  }
  #frontEndImageContainer {
    > div {
      font-size: 70px;
      font-weight: bold;
    }
  }
}

@media (max-width: 450px) {
  #developer {
    > div {
      font-size: 45px;
    }
  }
  #frontEndImageContainer {
    > div {
      font-size: 45px;
    }
  }
}

:host {
  position: relative;
  display: block;

app-burger-menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(20, 29, 47, 0);
  backdrop-filter: blur(8px);
  z-index: 20;
  transition: all 0.4s ease-in-out;

  &.open {
    top: 0;
  }
}
}
