<section id="hero">
  <app-header (toggleMenu)="onToggleMenu()"></app-header>
  <app-burger-menu [class.open]="menuOpen"></app-burger-menu>
  <div class="hero-title-content">
    <div id="helloWorld">
      <div
        #helloWorldElement
        class="helloWorldText fade"
        (mouseenter)="onMouseEnter(helloWorldElement)"
        (mouseleave)="onMouseLeave(helloWorldElement)"
      >
        <p>Hello world</p>
        <p id="myNameIs">{{'hero.title' | translate}}</p>
      </div>
      <img
        class="helloImage"
        src="/assets/img/hero/icons/hello-icon.png"
        alt="hello icon"
      />
    </div>
    <div id="frontEndImageContainer">
      <div class="animated-text">
        <div class="upper">F</div>
        <div class="lower">r</div>
        <div class="lower">o</div>
        <div class="lower">n</div>
        <div class="lower">t</div>
        <div class="lower">e</div>
        <div class="lower">n</div>
        <div class="lower">d</div>
      </div>
      <div id="photoCard">
        <img
          src="/assets/img/hero/elements/josh_in_polaroid.png"
          alt="picture of Joshua Plischek"
        />
        <p>Josh :)</p>
      </div>
    </div>
    <div id="developer">
      <div class="animated-text">
        <div class="upper">D</div>
        <div class="upper">E</div>
        <div class="upper">V</div>
        <div class="upper">E</div>
        <div class="upper">L</div>
        <div class="upper">O</div>
        <div class="upper">P</div>
        <div class="upper">E</div>
        <div class="upper">R</div>
      </div>
    </div>
    <div id="getInTouch">
      <button
        #button
        (click)="scrollToContact()"
        (mouseenter)="onMouseEnterBtn(button)"
        (mouseleave)="onMouseLeaveBtn(button)"
      >
        {{ 'hero.button' | translate }}
      </button>
    </div>
  </div>
  <div class="hero-links-bar">
    <div class="contact-links">
      <div>
        <a href="https://www.linkedin.com/in/joshuaplischek/" target="_blank"
          ><img src="/assets/img/hero/icons/linkedIn-icon.png" alt=""
        /></a>
      </div>
      <div>
        <a href="https://github.com/joshuaplischek" target="_blank"
          ><img src="/assets/img/hero/icons/git-icon.png" alt=""
        /></a>
      </div>
      <div>
        <a href="mailto:plischekjoshua@web.de" target="_blank"
          ><img src="/assets/img/hero/icons/mail-icon.png" alt=""
        /></a>
      </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="photoCard-mobile">
    <img
      src="/assets/img/hero/elements/josh_in_polaroid.png"
      alt="picture of Joshua Plischek"
    />
    <p>Josh :)</p>
  </div>
</section>
