<section id="hero">
  <app-header></app-header>
    <div>
        <div id="helloWorld">
            <div>
                <img class="helloImage" src="/assets/img/icons/hello-icon.png" alt="hello icon">
            </div>
            <div class="helloWorldText">
                <p>Hello world</p>
                <p id="myNameIs">I'M JOSHUA PLISCHEK</p>
            </div>
        </div>
        <div id="frontEndImageContainer">
            <p>Frontend</p>
        <div id="photoCard"> <!-- Das Photo bzw der Rahmen  -->
            <img src="#" alt="picture of Joshua Plischek"> <!-- Mein Bild  -->
            <p>Josh :) </p> <!-- Josh:) / Josh :D -->
        </div>
        </div>
        <div id="developer">
            <p>DEVELOPER</p>
        </div>
        <div id="getInTouch">
            <button>Get in Touch</button>
        </div>
    </div>
</section>
