<section id="hero">
  <app-header></app-header>
    <div>
        <div id="helloWorld">
            <div>
                <p>Hello world</p>
            </div>
        </div>
        <div id="frontEndImageContainer">
            <p>Frontend</p>
        <div> <!-- Das Photo bzw der Rahmen  -->
            <img src="" alt=""> <!-- Mein Bild  -->
            <p>Josh :) </p> <!-- Josh:) / Josh :D -->
        </div>
        </div>
        <div id="developer">
            <p>DEVELOPER</p>
        </div>
        <div id="getInTouch">
            <button>Get in Touch</button>
        </div>
    </div>
</section>
