section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  font-size: 19px;
  > div {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
}

.projects-heading {
  width: 100%;

  > h2 {
    font-size: 54px;
  }
}

@media (max-width: 1464px) {
  section {
    > div {
      padding: 0 25px;
      height: 100%;
    }

  }
}

@media (max-width: 720px) {
    section {
    > div {
      width: 100%;
    }
  }
}
