<section id="projects">
  <div class="heading-container">
    <div class="projects-heading">
      <p>MY CRAFT</p>
      <h2>Projects</h2>
    </div>
    <div>
      <p>
        Schau dir gern meine Projekte an und klick dich einfach mal durch!
        Ich achte darauf, dass alles nicht nur gut aussieht, sondern sich auch richtig gut anfühlt – klarer Code, responsive Designs und ein Fokus auf Nutzerfreundlichkeit. Viel Spaß beim Ausprobieren!
      </p>
    </div>
  </div>

  <app-project
    [title]="'Join'"
    [description]="
      'Ein leistungsstarkes Aufgabenmanagement-Tool, inspiriert vom Kanban-System. Organisiere deine Projekte mühelos per Drag-and-Drop, weise Aufgaben einzelnen Teammitgliedern zu und behalte mit klaren Kategorien stets den Überblick.'"
    [image]="'/assets/img/my-projects/backround/Property 1=Join.png'"
    [projectLink]="'join'"
  >
  </app-project>

  <app-project
    [title]="'Sharkie'"
    [description]="
      'Ein rasantes Unterwasser-Abenteuer! Schwimme durch gefährliche Tiefen, kämpfe gegen fiese Gegner und stelle dich dem ultimativen Endboss: einem gnadenlosen Killerwal. Nutze verschiedene Angriffe und Power-ups – überlebe, wenn du kannst'"
    [image]="'/assets/img/my-projects/backround/Property 1=El Pollo Loco.png'"
    [projectLink]="'sharkie'"
  >
  </app-project>

  <app-project
    [title]="'Pokèdex'"
    [description]="'Fang sie alle – mit Stil! Ein moderner PokéDex mit smarter Suche, detaillierter Detailansicht und 493 Pokémon aus der HeartGold/SoulSilver-Ära. Entdecke, filtere und finde deine Favoriten auf einen Blick.'"
    [image]="'/assets/img/my-projects/backround/Pokedex.png'"
    [projectLink]="'pokedex'"
  >
  </app-project>
</section>
