<section id="projects">
  <div>
    <div class="projects-heading">
      <p>MY CRAFT</p>
      <h2>Projects</h2>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
        dignissimos ducimus earum omnis provident totam numquam iure! Ipsum iste
        rerum temporibus vero placeat facilis explicabo? Repellendus laudantium
        dolor veritatis ea!
      </p>
    </div>
  </div>

  <app-project
    [title]="'Join'"
    [description]="''"
    [image]="'assets/img/example-img/Property 1=Join.png'"
  >
  </app-project>

  <app-project
    [title]="'Sharkie'"
    [description]="''"
    [image]="'assets/img/example-img/Property 1=El Pollo Loco.png'"
  >
  </app-project>

  <app-project
    [title]="'Pokèdex'"
    [description]="''"
    [image]="'assets/img/example-img/Property 1=DABubble.png'"
  >
  </app-project>
</section>
