<section id="projects">
  <div>
    <div class="projects-heading">
      <p>MY CRAFT</p>
      <h2>Projects</h2>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
        dignissimos ducimus earum omnis provident totam numquam iure! Ipsum iste
        rerum temporibus vero placeat facilis explicabo? Repellendus laudantium
        dolor veritatis ea!
      </p>
    </div>
  </div>

  <app-project
    [title]="'Join'"
    [description]="
      'Ein leistungsstarkes Aufgabenmanagement-Tool, inspiriert vom Kanban-System. Organisiere deine Projekte mühelos per Drag-and-Drop, weise Aufgaben einzelnen Teammitgliedern zu und behalte mit klaren Kategorien stets den Überblick.'"
    [image]="'assets/img/example-img/Property 1=Join.png'"
  >
  </app-project>

  <app-project
    [title]="'Sharkie'"
    [description]="
      'Ein rasantes Unterwasser-Abenteuer! Schwimme durch gefährliche Tiefen, kämpfe gegen fiese Gegner und stelle dich dem ultimativen Endboss: einem gnadenlosen Killerwal. Nutze verschiedene Angriffe und Power-ups – überlebe, wenn du kannst'"
    [image]="'assets/img/example-img/Property 1=El Pollo Loco.png'"
  >
  </app-project>

  <app-project
    [title]="'Pokèdex'"
    [description]="'Fang sie alle – mit Stil! Ein moderner PokéDex mit smarter Suche, detaillierter Detailansicht und 493 Pokémon aus der HeartGold/SoulSilver-Ära. Entdecke, filtere und finde deine Favoriten auf einen Blick.'"
    [image]="'assets/img/example-img/Property 1=DABubble.png'"
  >
  </app-project>
</section>
