<section id="contact">
  <div class="contact-me-info">
    <div>
      <div class="contact-heading">
        <p>CONTACT ME</p>
        <h2>Ready to work together?</h2>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
          sapiente dolore delectus sequi quae architecto quod, provident optio
          ratione ex doloremque quas, dicta fugit aut esse illum error officia
          necessitatibus?
        </p>
        <img src="" alt="" />
      </div>
      <div class="site-owner">
        <a href="#hero"
          ><img src="/assets/img/hero/header/logo_blue.png" alt=""
        /></a>
        <p>© Joshua Plischek 2025</p>
      </div>
    </div>
    <div class="contact-container">
      <div>
        <div class="logoSticker">
          <img src="assets/img/elements/contact/01_Color option 1- Orange.png" alt="" />
        </div>
        <div>
          <form action="">
            <div id="nameInput">
              <label for="">What's your Name?</label>
              <input type="text" placeholder="Your Name goes here" />
            </div>

            <div id="mailInput">
              <label for="">What' your Mail?</label>
              <input type="email" placeholder="youremail@email.com" />
            </div>

            <div id="textInput">
              <label for="">How can I help you?</label>
              <input type="text" placeholder="Hey Josh, Im interested in..." />
            </div>
          </form>

          <div class="privacy-policy">
            <input type="checkbox" />
            <p>
              I've read the <a href="">privacy policy</a> and agree to the
              processing of my data as outlined.
            </p>
          </div>
        </div>
        <div class="send">
          <button>Send</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
