<section>
  <app-header></app-header>
  <div id="goBack">
    <img [routerLink]="['/']"
      src="/assets/img/my-projects/elements/left-arrow.png"
      alt="image of an arrow"
    />
    <p [routerLink]="['/']">{{'join.back' | translate }}</p>
  </div>
  <app-project-template
    [projectTitle]="'Join'"
    [projectDescription]="'join.description' | translate "
    [projectDescriptionText]="'join.description-text' | translate "
    [projectDetails]="'join.details' | translate "
    [projectDetailsText]="'join.details-text' | translate "
    [projectDuration]="'join.duration' | translate "
    [projectDurationInfo]="'join.duration-text' | translate "
    [projectExampleImg]="'/assets/img/my-projects/backround/Property 1=Join.png'"
    [projectGitHubBtn]="'https://google.de'"
    [technologies]="[
      { imgPath: '/assets/img/skills/icons/Property 1=HTML.png', name: 'HTML' },
      { imgPath: '/assets/img/skills/icons/Property 1=CSS.png', name: 'CSS' },
      { imgPath: '/assets/img/skills/icons/Property 1=Firebase.png', name: 'Firebase' },
      { imgPath: '/assets/img/skills/icons/Property 1=Angular.png', name: 'Angular' },
      { imgPath: '/assets/img/skills/icons/Property 1=Ts.png', name: 'TypeScript' }
  ]"
  >
  </app-project-template>
  <div id="goNext">
    <p [routerLink]="['/sharkie']">{{'join.next' | translate }}</p>
    <img [routerLink]="['/sharkie']"
      src="/assets/img/my-projects/elements/right-arrow.png"
      alt="image of an arrow"
    />
  </div>
</section>
