<section>
  <app-header></app-header>
  <div id="goBack">
    <img [routerLink]="['/']"
      src="/assets/img/my-projects/elements/left-arrow.png"
      alt="image of an arrow"
    />
    <p [routerLink]="['/']">Zurück</p>
  </div>
  <app-project-template
    [projectTitle]="'Join'"
    [projectDescription]="'Beschreibung'"
    [projectDescriptionText]="'Aufgabenmanager inspiriert vom Kanban-System. Erstelle und organisiere Aufgaben mithilfe von Drag-and-Drop-Funktionen, weise Benutzern und Kategorien zu.'"
    [projectDetails]="'Umsetzungsdetails'"
    [projectDetailsText]="'Kurzer Text, der deine Rolle oder den Workflow für dieses spezifische Projekt beschreibt. Gib einem Recruiter einen Einblick in dein Wissen sowie deine Fähigkeit, selbstständig oder im Team strukturiert zu arbeit'"
    [projectDuration]="'Dauer:'"
    [projectDurationInfo]="'5 Wochen'"
    [projectExampleImg]="'/assets/img/my-projects/backround/Property 1=Join.png'"
    [projectGitHubBtn]="'https://google.de'"
    [technologies]="[
      { imgPath: '/assets/img/skills/icons/Property 1=HTML.png', name: 'HTML' },
      { imgPath: '/assets/img/skills/icons/Property 1=CSS.png', name: 'CSS' },
      { imgPath: '/assets/img/skills/icons/Property 1=Firebase.png', name: 'Firebase' },
      { imgPath: '/assets/img/skills/icons/Property 1=Angular.png', name: 'Angular' },
      { imgPath: '/assets/img/skills/icons/Property 1=Ts.png', name: 'TypeScript' }
  ]"
  >
  </app-project-template>
  <div id="goNext">
    <p>nächstes Projekt</p>
    <img
      src="/assets/img/my-projects/elements/right-arrow.png"
      alt="image of an arrow"
    />
  </div>
</section>
