<section id="skills">
  <div class="skills-heading">
    <div>
      <div><p>{{ 'skills.tools' | translate }}</p></div>
      <div><h2>{{ 'skills.title' | translate }}</h2></div>
      <img
        class="circle-reveal"
        src="/assets/img/skills/underlines/Property 1=linea copia 4.png"
        alt=""
      />
    </div>
  </div>
  <div class="skills-description-container">
    <div class="skills-description">
      <p>
        {{ 'skills.text' | translate }}
      </p>
    </div>
    <div class="skill-icons">
      <div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=HTML.png" alt="" />
        </div>

        <div>
          <img src="/assets/img/skills/icons/Property 1=CSS.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Js.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Ts.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Angular.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Firebase.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Git.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Rest-Api.png" alt="" />
        </div>
        <div>
          <img src="/assets/img/skills/icons/Property 1=Scrum.png" alt="" />
        </div>
        <div>
          <img
            src="/assets/img/skills/icons/Property 1=Material Design.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="peel-off">
    <img
      #pullToPeel
      class="pull-to-peel pull-to-peel-animation"
      (click)="toggleImage(pullToPeel, interested)"
      src="/assets/img/skills/elements/pull-to-peel-text.png"
      alt=""
    />
    <div>
      <img class="peel-off-image"
        [src]="
          isDefaultImage
            ? '/assets/img/skills/elements/Default.png'
            : '/assets/img/skills/elements/Final.png'
        "
        (click)="toggleImage(pullToPeel, interested)"
        alt=""
      />
    </div>
    <div
      #interested
      class="also-intrested"
      (click)="toggleImage(pullToPeel, interested)"
    >
      <p>{{ 'skills.ptp' | translate }}</p>
      <div class="peel-off-icons">
        <div>
          <img
            #javaSkill
            class="java-icon"
            src="/assets/img/skills/icons/java.png"
            alt="java icon"
          />
          <p>Java</p>
        </div>
        <div>
          <img
            #pythonSkill
            class="python-icon"
            src="/assets/img/skills/icons/Python.png"
            alt="python icon"
          />
          <p>Python</p>
        </div>
      </div>
    </div>
  </div>
</section>
