<section>
    <div>
        <div>
            <div><p>MY STACK</p></div>
            <div><h2>Skill set</h2></div>
        </div>
    </div>
    <div>
        <div><p></p></div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div>
        <img src="" alt="">
    </div>
</section>
