<section id="skills">
  <div class="skills-heading">
    <div>
      <div><p>MY STACK</p></div>
      <div><h2>Skill set</h2></div>
    </div>
  </div>
  <div>
    <div class="skills-description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis
        ipsam velit, blanditiis tenetur recusandae amet nesciunt qui nam optio,
        iusto aspernatur ipsa maiores voluptatem. Deserunt provident iusto quam
        eum.
      </p>
    </div>
    <div class="skill-icons">
      <div>
        <img src="/assets/img/icons/skills/Property 1=HTML.png" alt="" />
      </div>

      <div>
        <img src="/assets/img/icons/skills/Property 1=CSS.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Js.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Ts.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Angular.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Firebase.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Git.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Rest-Api.png" alt="" />
      </div>
      <div>
        <img src="/assets/img/icons/skills/Property 1=Scrum.png" alt="" />
      </div>
      <div>
        <img
          src="/assets/img/icons/skills/Property 1=Material Design.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="peel-off">
    <img src="/assets/img/elements/pull to peel/pull-to-peel-text.png" alt="">
    <div><img src="/assets/img/elements/pull to peel/Default.png" alt="" /></div>
  </div>
</section>
