@import "./../../styles.scss";
@import "./.././animations.scss";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  background-image: url("/assets/img/skills/backround/03_Skills.png");
  background-position: center bottom;
  background-size: cover;
  > div {
    top: -50px;
    height: 100%;
  }
}
.skills-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.skills-heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1;
  text-align: end;
  > div {
    top: -150px;
    > div {
      z-index: 1;
      > h2 {
        font-size: 54px;
      }
    }
    > img {
      position: absolute;
      top: -10px;
      left: -10px;
    }
  }
}

.skills-description {
  height: 150px;
  width: 800px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/skills/elements/1.Skills description.png");
  background-position: center;
  background-size: cover;
}

.skill-icons {
  width: 800px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  > div {
    height: 85px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      filter: grayscale(1);
      transition: all 0.2s ease-in-out;
      &:hover {
        filter: grayscale(0);
        height: 82px;
        width: 82px;
      }
    }
  }
}

.peel-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  left: -50px;
  > div {
    > img {
      top: 120px;
      left: -50px;
      rotate: 10deg;
      height: 200px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  > img {
    rotate: 10deg;
    &:hover {
      cursor: pointer;
    }
  }

  .peel-off-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    > div {
      > img {
        rotate: 0deg;
        height: 62px;
      }
    }
  }

  > .pull-to-peel-animation {
    animation: blinkSmooth 2.5s infinite;
  }
}

.also-intrested {
  opacity: 0;
  rotate: 10deg;
  width: 187px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: -60px;
  left: -50px;
  text-align: center;
}

.pull-to-peel {
  z-index: 1;
  top: 290px;
  left: -50px;
}

.circle-reveal {
  position: relative;
  width: 300px;
  height: auto;
  display: block;
  transform: translate(-30px, 10px);
  animation: simpleFade 4s ease-in-out infinite;
}

@keyframes simpleFade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.vanishing-image {
  z-index: 0;
  opacity: 0;
}

.appearing-image {
  cursor: pointer;
  opacity: 1;
  z-index: 1;
}
