<section>
  <div class="privacy-policy-content">
    <h1>📄{{ "privacy-policy.h1_1_datenschutzerklärung" | translate }}</h1>
    <h2 id="m716">{{ "privacy-policy.h2_2_präambel" | translate }}</h2>
    <p>{{ "privacy-policy.p_3_mit" | translate }}</p>
    <p>{{ "privacy-policy.p_4_die" | translate }}</p>
    <p>{{ "privacy-policy.p_5_stand" | translate }}</p>
    <h2>{{ "privacy-policy.h2_6_inhaltsübersicht" | translate }}</h2>
    <ul class="index">
      <li>{{ "privacy-policy.li_8_präambel" | translate }}</li>
      <li>{{ "privacy-policy.li_9_verantwortlicher" | translate }}</li>
      <li>{{ "privacy-policy.li_10_übersicht" | translate }}</li>
      <li>{{ "privacy-policy.li_11_maßgebliche" | translate }}</li>
      <li>{{ "privacy-policy.li_12_sicherheitsmaßnahmen" | translate }}</li>
      <li>{{ "privacy-policy.li_13_rechte" | translate }}</li>
      <li>{{ "privacy-policy.li_14_geschäftliche" | translate }}</li>
      <li>{{ "privacy-policy.li_15_geschäftsprozesse" | translate }}</li>
      <li>{{ "privacy-policy.li_16_einsatz" | translate }}</li>
      <li>{{ "privacy-policy.li_17_kontakt" | translate }}</li>
      <li>{{ "privacy-policy.li_18_präsenzen" | translate }}</li>
      <li>{{ "privacy-policy.li_19_plug-ins" | translate }}</li>
      <li>{{ "privacy-policy.li_20_änderung" | translate }}</li>
    </ul>
    <h2 id="m3">{{ "privacy-policy.h2_21_verantwortlicher" | translate }}</h2>
    <p>{{ "privacy-policy.p_22_joshua" | translate }}</p>
    <p>{{ "privacy-policy.p_23_e-mail-adresse" | translate }}</p>
    <p>{{ "privacy-policy.p_24_impressum" | translate }}</p>
    <h2 id="mOverview">{{ "privacy-policy.h2_25_übersicht" | translate }}</h2>
    <p>{{ "privacy-policy.p_26_die" | translate }}</p>
    <h3>{{ "privacy-policy.h3_27_arten" | translate }}</h3>
    <ul>
      <li>{{ "privacy-policy.li_29_bestandsdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_30_zahlungsdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_31_kontaktdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_32_inhaltsdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_33_vertragsdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_34_nutzungsdaten" | translate }}</li>
      <li>{{ "privacy-policy.li_35_meta" | translate }}</li>
    </ul>
    <h3>{{ "privacy-policy.h3_36_kategorien" | translate }}</h3>
    <ul>
      <li>{{ "privacy-policy.li_38_leistungsempfänger" | translate }}</li>
      <li>{{ "privacy-policy.li_39_interessenten" | translate }}</li>
      <li>{{ "privacy-policy.li_40_kommunikationspartner" | translate }}</li>
      <li>{{ "privacy-policy.li_41_nutzer" | translate }}</li>
      <li>{{ "privacy-policy.li_42_geschäfts" | translate }}</li>
    </ul>
    <h3>{{ "privacy-policy.h3_43_zwecke" | translate }}</h3>
    <ul>
      <li>{{ "privacy-policy.li_45_erbringung" | translate }}</li>
      <li>{{ "privacy-policy.li_46_kommunikation" | translate }}</li>
      <li>{{ "privacy-policy.li_47_büro" | translate }}</li>
      <li>{{ "privacy-policy.li_48_organisations" | translate }}</li>
      <li>{{ "privacy-policy.li_49_feedback" | translate }}</li>
      <li>{{ "privacy-policy.li_50_bereitstellung" | translate }}</li>
      <li>{{ "privacy-policy.li_51_öffentlichkeitsarbeit" | translate }}</li>
      <li>{{ "privacy-policy.li_52_geschäftsprozesse" | translate }}</li>
    </ul>
    <h2 id="m2427">{{ "privacy-policy.h2_53_maßgebliche" | translate }}</h2>
    <p>{{ "privacy-policy.p_54_maßgebliche" | translate }}</p>
    <ul>
      <li>{{ "privacy-policy.li_56_einwilligung" | translate }}</li>
      <li>{{ "privacy-policy.li_57_vertragserfüllung" | translate }}</li>
      <li>{{ "privacy-policy.li_58_rechtliche" | translate }}</li>
      <li>{{ "privacy-policy.li_59_berechtigte" | translate }}</li>
    </ul>
    <p>{{ "privacy-policy.p_60_nationale" | translate }}</p>
    <p>{{ "privacy-policy.p_61_hinweis" | translate }}</p>
    <h2 id="m27">
      {{ "privacy-policy.h2_62_sicherheitsmaßnahmen" | translate }}
    </h2>
    <p>{{ "privacy-policy.p_63_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_64_zu" | translate }}</p>
    <p>{{ "privacy-policy.p_65_kürzung" | translate }}</p>
    <p>{{ "privacy-policy.p_66_sicherung" | translate }}</p>
    <h2 id="m10">{{ "privacy-policy.h2_67_rechte" | translate }}</h2>
    <p>{{ "privacy-policy.p_68_rechte" | translate }}</p>
    <ul>
      <li>{{ "privacy-policy.li_70_widerspruchsrecht:" | translate }}</li>
      <li>{{ "privacy-policy.li_71_widerrufsrecht" | translate }}</li>
      <li>{{ "privacy-policy.li_72_auskunftsrecht" | translate }}</li>
      <li>{{ "privacy-policy.li_73_recht" | translate }}</li>
      <li>{{ "privacy-policy.li_74_recht" | translate }}</li>
      <li>{{ "privacy-policy.li_75_recht" | translate }}</li>
      <li>{{ "privacy-policy.li_76_beschwerde" | translate }}</li>
    </ul>
    <h2 id="m317">{{ "privacy-policy.h2_77_geschäftliche" | translate }}</h2>
    <p>{{ "privacy-policy.p_78_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_79_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_80_welche" | translate }}</p>
    <p>{{ "privacy-policy.p_81_wir" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_83_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_84_betroffene" | translate }}</li>
      <li>{{ "privacy-policy.li_85_zwecke" | translate }}</li>
      <li>{{ "privacy-policy.li_86_aufbewahrung" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_87_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <p>{{ "privacy-policy.p_88_weitere" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_90_projekt" | translate }}</li>
    </ul>
    <h2 id="m13">{{ "privacy-policy.h2_91_geschäftsprozesse" | translate }}</h2>
    <p>{{ "privacy-policy.p_92_personenbezogene" | translate }}</p>
    <p>{{ "privacy-policy.p_93_die" | translate }}</p>
    <p>{{ "privacy-policy.p_94_personenbezogene" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_96_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_97_betroffene" | translate }}</li>
      <li>{{ "privacy-policy.li_98_zwecke" | translate }}</li>
      <li>{{ "privacy-policy.li_99_aufbewahrung" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_100_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <h2 id="m134">{{ "privacy-policy.h2_101_einsatz" | translate }}</h2>
    <p>{{ "privacy-policy.p_102_unter" | translate }}</p>
    <p>{{ "privacy-policy.p_103_hinweise" | translate }}</p>
    <p>{{ "privacy-policy.p_104_speicherdauer" | translate }}</p>
    <ul>
      <li>{{ "privacy-policy.li_106_temporäre" | translate }}</li>
      <li>{{ "privacy-policy.li_107_permanente" | translate }}</li>
    </ul>
    <p>{{ "privacy-policy.p_108_allgemeine" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_110_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_111_betroffene" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_112_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <p>{{ "privacy-policy.p_113_weitere" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_115_verarbeitung" | translate }}</li>
    </ul>
    <h2 id="m182">{{ "privacy-policy.h2_116_kontakt" | translate }}</h2>
    <p>{{ "privacy-policy.p_117_bei" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.ul_118_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_119_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_121_zwecke" | translate }}</li>
      <li>{{ "privacy-policy.li_122_aufbewahrung" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_123_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <p>{{ "privacy-policy.p_124_weitere" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_126_kontaktformular" | translate }}</li>
    </ul>
    <h2 id="m136">{{ "privacy-policy.h2_127_präsenzen" | translate }}</h2>
    <p>{{ "privacy-policy.p_128_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_129_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_130_ferner" | translate }}</p>
    <p>{{ "privacy-policy.p_131_für" | translate }}</p>
    <p>{{ "privacy-policy.p_132_auch" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_134_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_135_betroffene" | translate }}</li>
      <li>{{ "privacy-policy.li_136_zwecke" | translate }}</li>
      <li>{{ "privacy-policy.li_137_aufbewahrung" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_138_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <p>{{ "privacy-policy.p_139_weitere" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_141_linkedin" | translate }}</li>
    </ul>
    <h2 id="m328">{{ "privacy-policy.h2_142_plug-ins" | translate }}</h2>
    <p>{{ "privacy-policy.p_143_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_144_die" | translate }}</p>
    <p>{{ "privacy-policy.p_145_hinweise" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_147_verarbeitete" | translate }}</li>
      <li>{{ "privacy-policy.li_148_betroffene" | translate }}</li>
      <li>{{ "privacy-policy.li_149_zwecke" | translate }}</li>
      <li>{{ "privacy-policy.li_150_aufbewahrung" | translate }}</li>
      <li class="">
        {{ "privacy-policy.li_151_rechtsgrundlagen" | translate }}
      </li>
    </ul>
    <p>{{ "privacy-policy.ul_153_google" | translate }}</p>
    <ul class="m-elements">
      <li>{{ "privacy-policy.li_154_google" | translate }}</li>
    </ul>
    <h2 id="m15">{{ "privacy-policy.h2_155_änderung" | translate }}</h2>
    <p>{{ "privacy-policy.p_156_wir" | translate }}</p>
    <p>{{ "privacy-policy.p_157_sofern" | translate }}</p>
    <p class="seal">{{ "privacy-policy.p_158_erstellt" | translate }}</p>
    <!-- <h1>📄 Datenschutzerklärung (Privacy Policy)</h1> 
    <h2>Datenschutzerklärung</h2> 
    <p>Der Schutz
    Ihrer persönlichen Daten ist mir wichtig. Die im Kontaktformular
    eingegebenen Daten (Name, E-Mail-Adresse, Nachricht) werden ausschließlich
    zur Bearbeitung Ihrer Anfrage verwendet und nicht an Dritte weitergegeben.
    Es erfolgt keine Speicherung über die Anfrage hinaus, sofern keine
    gesetzliche Pflicht zur Aufbewahrung besteht. Es werden keine Cookies oder
    Tracking-Technologien eingesetzt. Verantwortlich für die Datenverarbeitung: <br>
    Joshua Plischek <br> plischekjoshua&#64;web.de</p> -->
  </div>
</section>
