<section>
  <div>
    <h1>📄 Datenschutzerklärung (Privacy Policy)</h1> 
    <h2>Datenschutzerklärung</h2> 
    <p>Der Schutz
    Ihrer persönlichen Daten ist mir wichtig. Die im Kontaktformular
    eingegebenen Daten (Name, E-Mail-Adresse, Nachricht) werden ausschließlich
    zur Bearbeitung Ihrer Anfrage verwendet und nicht an Dritte weitergegeben.
    Es erfolgt keine Speicherung über die Anfrage hinaus, sofern keine
    gesetzliche Pflicht zur Aufbewahrung besteht. Es werden keine Cookies oder
    Tracking-Technologien eingesetzt. Verantwortlich für die Datenverarbeitung: <br>
    Joshua Plischek <br> plischekjoshua&#64;web.de</p>
  </div>
</section>
