<section>
<app-header #header (toggleMenu)="onToggleMenu($event)"></app-header>
  <app-burger-menu  [class.open]="menuOpen"
  (menuClose)="closeMenu(header)"></app-burger-menu>
  <div>
    <h1>{{ "legal-notice.legal-notice" | translate }}</h1>
    <h2>{{ "legal-notice.informations" | translate }}</h2>
    <div>
      <p>{{ "legal-notice.owner" | translate }}</p>
      <p>{{ "legal-notice.street-adress" | translate }}</p>
      <p>{{ "legal-notice.adress-city" | translate }}</p>
      <p>{{ "legal-notice.country" | translate }}</p>
    </div>
    <h3>Kontakt:</h3>
    <p>{{ "legal-notice.e-mail" | translate }}:  <a href="mailto:plischekjosua@web.de">plischekjoshua&#64;web.de</a></p>
  </div>
</section>
