<section>
  <app-header #header (toggleMenu)="onToggleMenu($event)"></app-header>
  <app-burger-menu  [class.open]="menuOpen"
  (menuClose)="closeMenu(header)"></app-burger-menu>
  <div id="goBack">
    <img [routerLink]="['/']"
      src="/assets/img/my-projects/elements/left-arrow.png"
      alt="image of an arrow"
    />
    <p [routerLink]="['/']">{{'sharkie.back' | translate }}</p>
  </div>
  <app-project-template
  [projectTitle]="'Sharkie'"
    [projectDescription]="'sharkie.description' | translate "
    [projectDescriptionText]="'sharkie.description-text' | translate "
    [projectDetails]="'sharkie.details' | translate "
    [projectDetailsText]="'sharkie.details-text' | translate "
    [projectDuration]="'sharkie.duration' | translate "
    [projectDurationInfo]="'sharkie.duration-text' | translate "
    [projectExampleImg]="'/assets/img/my-projects/backround/sharkie.png'"
    [projectGitHubBtn]="'https://github.com/joshuaplischek/Joshs-Sharkie'"
    [projectLiveTestBtn]="'https://sharkie.joshuaplischek.de/'"
    [technologies]="[
      { imgPath: '/assets/img/skills/icons/Property 1=Js.png', name: 'JavaScript' },
      { imgPath: '/assets/img/skills/icons/Property 1=CSS.png', name: 'CSS' },
      { imgPath: '/assets/img/skills/icons/Property 1=HTML.png', name: 'HTML' }
  ]"
  >
  </app-project-template>
  <div id="goNext">
    <p [routerLink]="['/pokedex']">{{'sharkie.next' | translate }}</p>
    <img [routerLink]="['/pokedex']"
      src="/assets/img/my-projects/elements/right-arrow.png"
      alt="image of an arrow"
    />
  </div>
    <div class="mobile-navigation">
    <div id="goBackMobile">
      <img
        [routerLink]="['/']"
        src="/assets/img/my-projects/elements/left-arrow.png"
        alt="image of an arrow"
      />
      <p [routerLink]="['/']">{{ "pokedex.back" | translate }}</p>
    </div>
    <div id="goNextMobile">
      <p [routerLink]="['/pokedex']">{{ "join.next" | translate }}</p>
      <img
        [routerLink]="['/pokedex']"
        src="/assets/img/my-projects/elements/right-arrow.png"
        alt="image of an arrow"
      />
    </div>
  </div>
</section>