<section>
  <div>
    <div class="testimonials-heading">
      <p>{{'testimonials.mini-title' | translate}}</p>
      <h2>{{'testimonials.title' | translate}}</h2>
    </div>
    <div class="cards">
      <app-testimonials-template
        class="card-1"
        [feedback]="'testimonials.feeback-one' | translate"
        [name]="'name 1'"
        [status]="'Frontend Developer'"
        [link]="''"
      >
      </app-testimonials-template>
      <app-testimonials-template
        [feedback]="'testimonials.feeback-two' | translate"
        [name]="'name 2'"
        [status]="'Frontend Developer'"
        [link]="''"
        class="card-2"
      >
      </app-testimonials-template>
      <app-testimonials-template
        [feedback]="'testimonials.feeback-three' | translate"
        [name]="'name 3'"
        [status]="'Frontend Developer'"
        [link]="''"
        class="card-3"
      >
      </app-testimonials-template>
    </div>
  </div>
</section>
