<section>
  <div>
    <p>IN THEIR WORDS:</p>
    <h2>Colleagues' Thoughts</h2>
  </div>
  <div>
    <app-testimonials-template 
    [feedback]="''" 
    [name]="'name 1'" 
    [status]="'Frontend Developer'"
    [link]="''">
    

    </app-testimonials-template>
    <app-testimonials-template 
    [feedback]="''" 
    [name]="'name 2'" 
    [status]="'Frontend Developer'"
    [link]="''">

    </app-testimonials-template>
    <app-testimonials-template 
    [feedback]="''" 
    [name]="'name 3'" 
    [status]="'Frontend Developer'"
    [link]="''">

    </app-testimonials-template>
  </div>
</section>
