<section>
  <div>
    <div class="testimonials-heading">
      <p>{{'testimonials.mini-title' | translate}}</p>
      <h2>{{'testimonials.title' | translate}}</h2>
    </div>
    <div class="cards">
      <app-testimonials-template
        class="card-1"
        [feedback]="'user-feedback.user-one' | translate"
        [name]="'Mirkan Polat'"
        [status]="'Frontend Developer'"
        [link]="'https://github.com/MirkanPolat'"
      >
      </app-testimonials-template>
      <app-testimonials-template
        [feedback]="'user-feedback.user-two' | translate"
        [name]="'Anne Dalchow'"
        [status]="'Frontend Developer'"
        [link]="'https://www.linkedin.com/in/anne-dalchow/'"
        class="card-2"
      >
      </app-testimonials-template>
      <app-testimonials-template
        [feedback]="'user-feedback.user-three' | translate"
        [name]="'Tony Hirschligau'"
        [status]="'Frontend Developer'"
        [link]="'https://www.linkedin.com/in/tony-hirschligau/'"
        class="card-3"
      >
      </app-testimonials-template>
    </div>
  </div>
</section>
