@font-face {
  font-family: "mainFont";
  src: url(../public/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf);
}

@font-face {
  font-family: "secondaryFont";
  src: url(../public/assets/fonts/Kalam/Kalam-Regular.ttf);
}

$portfolioBlue: #3355ff;

$portfolioOrange: #e77e60;

$portfolioYellow: #e1b419;

@keyframes pushButton {
  0% {
    top: 0;
    left: 0;
  }
  50%{
    top: 1px;
    left: 1px;
  }
  100% {
    top: 2px;
    left: 2px;
    background-color: $portfolioOrange;
    box-shadow: none;
  }
}

* {
  position: relative;
  margin: 0;
  text-decoration: none;
  font-family: "mainFont";
  scroll-behavior: smooth;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column; /* oder row, je nach Layout */
  align-items: center; /* horizontale Zentrierung */
  min-height: 100vh; /* Höhe des Viewports nutzen */
}

@mixin flexCenterAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
