<div class="project-info-site">
  <div class="left-container">
    <!-- left container -->
    <div class="project-heading">
      <h1>{{ projectTitle }}</h1>
      <img
        class="drawing-line"
        src="/assets/img/about-me/underlines/8542ffc9296fd0ecc62b7bb7886c355ebe841e45.png"
        alt=""
      />
    </div>
    <div>
      <h2>{{ projectDescription }}</h2>
      <p>{{ projectDescriptionText }}</p>
    </div>
    <div>
      <h2>{{ projectDetails }}</h2>
      <p>{{ projectDetailsText }}</p>
    </div>
    <div>
      <h3>{{ projectDuration }}</h3>
      <p>{{ projectDurationInfo }}</p>
    </div>
    <div>
        <div class="technologies-container">
          <div class="technology" *ngFor="let tech of technologies">
            <img [src]="tech.imgPath" [alt]="tech.name" />
            <p>{{ tech.name }}</p>
          </div>
        </div>
      </div>
  </div>
  <div class="right-container">
    <!-- right container -->
    <div>
      <img src="{{ projectExampleImg }}" alt="" />
      <img src="{{ projectInfoImg }}" alt="" />
    </div>
    <div class="link-btns">
      <button #btnGit
        class="link-to-git-hub"
        (click)="window.open(projectGitHubBtn, '_blank')"
        (mouseenter)="onMouseEnterBtn(btnGit)" (mouseleave)="onMouseLeaveBtn(btnGit)"
      >
        GitHub
      </button>
      <button #btnLiveTest
        class="link-to-live-test"
        (click)="window.open(projectLiveTestBtn, '_blank')"
        (mouseenter)="onMouseEnterBtn(btnLiveTest)" (mouseleave)="onMouseLeaveBtn(btnLiveTest)"
      >
        Live Test
      </button>
    </div>
  </div>
</div>
