<div>
    <div>
        <img src="" alt="">
        <p>Zurück</p>
    </div> <!-- go back -->
    <div>
        <div> <!-- left container -->
            <div><h1></h1></div>
            <div>
                <h2></h2>
                <p></p>
            </div>
            <div>
                <h2></h2>
                <p></p>
            </div>
            <div>
                <h3></h3>
                <p></p>
            </div>
            <div>
                <!-- html, css, angular, typescript, etc.. -->
            </div>
        </div>
        <div> <!-- right container -->
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div>
                <button></button>
                <button></button>
            </div>
        </div> 
    </div>
    <div>
        <div> <!-- next -->
            <p>nächstes Projekt</p>
            <img src="" alt="">
        </div>
    </div> 
</div>


