<div class="project-info-site">
  <div>
    <!-- left container -->
    <div><h1>{{projectTitle}}</h1></div>
    <div>
      <h2>{{projectDescription}}</h2>
      <p>{{projectDescriptionText}}</p>
    </div>
    <div>
      <h2>{{projectDetails}}</h2>
      <p>{{projectDetailsText}}</p>
    </div>
    <div>
      <h3>{{projectDuration}}</h3>
      <p>{{projectDurationInfo}}</p>
    </div>
    <div>
      <!-- html, css, angular, typescript, etc.. -->
    </div>
  </div>
  <div>
    <!-- right container -->
    <div>
      <img src="{{projectExampleImg}}" alt="" />
      <img src="{{projectInfoImg}}" alt="" />
    </div>
    <div>
      <button>{{projectGitHubBtn}}</button>
      <button>{{projectLiveTestBtn}}</button>
    </div>
  </div>
</div>
