<section>
      <div class="burger-menu">
    <div class="mobile-about-me">
      <a (click)="closeMenu()" href="#aboutMe">{{ 'header.about-me' | translate }}</a>
    </div>
    <div class="mobile-skills">
      <a (click)="closeMenu()" href="#skills">{{ 'header.skills' | translate }}</a>
    </div>
    <div class="mobile-projects">
      <a (click)="closeMenu()" href="#projects">{{ 'header.proj' | translate }}</a>
    </div>
    <div class="mobile-contact">
      <a (click)="closeMenu()" href="#contact">{{ 'header.contact' | translate }}</a>
    </div>
    <div class="languageSwitch">
    <p>DE</p>
    <div><input class="switch" type="checkbox" [checked]="isEnglish" (change)="onLanguageChange($event)"></div>
    <p>EN</p>
  </div>
    <div class="hero-links-bar">
    <div class="contact-links">
      <div>
        <a href="https://www.linkedin.com/in/joshuaplischek/" target="_blank"
          ><img src="/assets/img/hero/icons/linkedIn-icon.png" alt=""
        /></a>
      </div>
      <div>
        <a href="https://github.com/joshuaplischek" target="_blank"
          ><img src="/assets/img/hero/icons/git-icon.png" alt=""
        /></a>
      </div>
      <div>
        <a href="mailto:" target="_blank"
          ><img src="/assets/img/hero/icons/mail-icon.png" alt=""
        /></a>
      </div>
    </div>

  </div>
  </div>
</section>



